{% extends "movies/loyaut.html" %}
{% load static %}
{% block body %}
    <div class="container-movie">
        {% for movie in movies %}
            {% if word == movie.first_name_letter and movie.image%}
            <div class="card-container-movie searchable">
                    <a href="{% url  'movies:movie_id' movie.id  %}"> <img class="movie-image" src="/media/{{ movie.image }}" alt="{{movie.name}}"></a>
                    <h4>
                       {{ movie.name }}
                    </h4>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="pagination">
        <div class="pagination_container">
            {% if movies.has_previous %}
                <a href="?page={{ movies.previous_page_number }}">Anterior</a>
            {% endif %}
            {% for num in movies.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current-page">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}">Siguiente</a>
            {% endif %}
        </div>
    </div>
    <div class="foot_page">
        
    </div>
{% endblock %}