{% extends "movies/loyaut.html" %}
{% load static%}
{%  block body %}

        <!-- JUST SHOW THE MOVIE IN THE ID SPECIFICATE-->
{% for movie in movies  %}
    {% if movie.id == movie_id %}
    <div class="independentMovie">
        <div class="container_image">
            <img class="independent_image" src="/media/{{ movie.image }}" alt="{{movie.name}}">
        </div>
        <div class="movie_info">
            <div class="information_movie">
                <div class="name_info">
                    <h1> {{ movie.name }}</h1>
                </div>
                <div class="description_info">
                    <strong><h1>Resumen:</h1></strong>
                    <p>{{movie.description}}</p>
                </div>
                <div class="details">
                    <h1>Detalles:</h1>
                </div>
                <table class="table_container">
                    <tr class="year_info">
                        <th><h1>Año :</h1></th>
                        <td> {{movie.movies_year}} </td>
                    </tr>
                    <tr class="gender_info">
                        <th><h1>Genero :</h1></th>
                        <td>  {% for gender in movie.movies_tipe_movie.all %}
                            | {{gender}} |
                            {% endfor %}</td>
                    </tr>
                    <tr class="lenguage_info">
                        <th>
                            <h1>Idioma :</h1> 
                        </th>
                        <td>
                            {{ movie.movies_lenguage }} 
                        </td>
                    </tr>
                    <tr>
                        <th class="subtitles_info">
                            <h1>Subtitulos :</h1> 
                        </th>
                        <td>
                            {{ movie.movies_subtitles }} 
                        </td>
                    </tr>
                </table>             
            </div>
        </div>
    </div> 
    {% endif %} 
{% endfor %}

{% endblock %}