* {
    margin: 0;
    padding: 0;
}
.espace__bar {
    margin-bottom: 1%;
}
.Button-var{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}
.Button-var ul {
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}
.Button-var ul a li {
    margin: 2px;
    padding: 10px;
    background: gray;
    border-radius: 40%;
}
.Button-var ul a li {
    text-decoration: none;
}

.Button-var ul a {
    text-decoration: none;
}

.Button-var ul a li:link {
    color: black;
}

.Button-var ul a li:visited {
    color: black;
}

.Button-var ul a li:hover {
    background-color: mediumorchid;
    cursor: pointer;
}

.Button-var {
    cursor: pointer;
}

.container-movie {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}
.container-movie > * {
    flex-basis: 22%; /* Ajusta este valor según el número de columnas deseadas */
    box-sizing: border-box;
}
body .container-movie .card-container-movie {
    flex-basis: 22%;
    margin: 1%;
    height: 350px;
    border-radius: 5%;
    position: relative;
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0 5px 10px;
    backface-visibility: hidden;
    overflow: hidden;
}


.container-movie .card-container-movie img {
    width: 100%;
    position: relative;
    min-width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-bottom: 0px;

}

.container-movie .card-container-movie h4 {
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background: rgba(0, 0, 0, 4);
    text-align: center;
}

